In [1]:
#Para esta actividad se importarán las siguientes librerías:
#Para esta actividad se importarán las siguientes librerías:
import pandas as pd
#Importando las librerías para el ejemplo 
import matplotlib.pyplot as plt #Importando  matplotlib
import numpy as np #Importando numoy
import seaborn as sns #Importando seaborn

#Importando dataset que se van a usar
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

#Para poder realizar la normalización media se debe de importar el escalador
from sklearn.preprocessing import StandardScaler, RobustScaler

In [3]:
#Código para cargar el Dataset
enfermedadesCardiovascular= pd.read_csv('cardio_train.csv',sep=";")
enfermedadesCardiovascular.head() #presentando dataset

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

# Descripción de la fuente del Dataset

El dataset con el que se va a trabajar contiene 70000 registros sobre personas con enfermedad cardiovascular. Contiene características que ayuda a predicir si una persona tiene o no enfermedad cardiovascular. Entre las características de entrada se encuentran las siguientes:

Id: Id de la persona (int).

Age: La edad (int).

Gender: El género 1 para mujer y 2 para hombre.

Height: Altura (cm).

Weight: El peso (kg).

ap_hi: Presión sanguínea sistólica (int).

ap_lo: Presión arterial diastólica.

cholesterol: El colesterol por niveles, 1: normal, 2: por encima de lo normal, 3: muy por
encima de lo normal.

gluc: La glucosa por niveles, 1: normal, 2: por encima de lo normal, 3: muy por encima de lo
normal.

smoke: Si el paciente fuma o no, 0 para no y 1 para si.

alco: Si el paciente toma alcohol, 0 para no y 1 para si.

active: Si el paciente tiene actividad física, 0 para no y 1 para si.

In [4]:
#describiendo las caracteristicas anteriormente mencionadas
enfermedadesCardiovascular.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

# Problema a resolver

Como se ha mencionado el problema identificado es predicir si una personas tienen o no una enfermedad cardiovascular. Para ello en su variable objetivo que es Cardio se identifica con 1 a las personas con enfermedad cardiovascular. Mientras que, 0 a las personas que no tienen enfermedad cardiovascular. Entre las variables objetivos están: Id,
Age
Gender
Height
Weight 
ap_hi
ap_lo 
cholesterol 
gluc
smoke 
alco 
active

# Caracterización del Dataset